---
---

@import "{{ site.theme }}";

header {
  padding-top: 20px;
  padding-bottom: 20px;
}

header h1 {
  width: 840px;
}

header h2 {
  width: 840px;
}

.inner {
  position: relative;
  width: 1240px;
  /* width: 1040px; */
  margin: 0 auto;
}

#main-content {
  float: left;
  width: 990px;
}

/*
aside#sidebar {
  display: none;
}
*/
